/node_modules
/public/hot
/public/storage
/public/*.html
/public/*.png
/storage/*.key
/vendor
/log
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
.Trash-1000/
